@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes changeBackground {
  0%,
  100% {
    background-image: url("../assets/9.jpg"); /* Initial background image */
  }
  20% {
    background-image: url("../assets/2.jpg"); /* Second background image after 3 seconds */
  }
  40% {
    background-image: url("../assets/12.jpg"); /* Second background image after 3 seconds */
  }
  60% {
    background-image: url("../assets/11.jpg"); /* Second background image after 3 seconds */
  }
  80% {
    background-image: url("../assets/7.jpg"); /* Back to the initial background image after 9 seconds */
  }
}

.change-background-animation {
  animation: changeBackground 15s infinite;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
